body{background-color:beige;}
h1{text-align: center; font-family: 'Verdana'; color:darkblue; font-size: 200%;}
h2{text-align: center; font-family: 'Verdana'; color:darkred; font-size: 120%;}
h3{font-family: 'Verdana'; font-size: 80%;}
p{font-family:'Courier New', Courier, monospace}